

/* Major Colors and fonts */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #347881;
    --secondary-color: #013948;
    --light-font-color: #fafafa;
    --dark-font-color: #333;
    --light-blue-color: #61979E;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Lexend', sans-serif;

}


.display-4 {
    font-weight: bold;
    font-family: var(--secondary-font)
}
body {
    background-color: var(--primary-color);
    color: var(--dark-font-color);
    font-family: var(--primary-font)
}

#navbar, #footer {
    background-color: var(--secondary-color);
    color: var(--light-font-color);
}
#navbar * {
    color: var(--light-blue-color);
}


#hero {
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}
#hero h1 {
    font-family: var(--secondary-font);
    font-weight: bold;

}
#about .container {
    background-color: var(--light-blue-color);
    border-radius: 10%;
}

.standout-section {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08); /* Optional: subtle shadow */
}

/* Footer */
/* Override Bootstrap styling which was preventing copyright info and social links spacing */
#footer .row > * {
    flex-shrink: 1;
    width: auto;
}
.footer-text {
    color: var(--light-blue-color);
}
.header {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.copyright {
    font-size: small;
}

/* Enable layout styling of social links */
#footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    min-width: 10rem;
}

/* Style social links */
#footer ul a {
    color: var(--light-blue-color);
    font-size: 2rem;
}
