/* General styling */
:root {
    --primary-color: #347881;
    --secondary-color: #013948;
    --light-font-color: #fafafa;
    --dark-font-color: #333;
    --light-blue-color: #61979E;
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-4 {
    font-weight: bold;
}
body {
    background-color: var(--primary-color);
    color: var(--dark-font-color);
}

/* Navbar Styling */
#navbar, #footer {
    background-color: var(--secondary-color);
    color: var(--light-font-color);
}
#navbar * {
    color: var(--light-blue-color);
}

/* Hero Section */
#hero {
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}
#hero h1 {
    font-weight: bold;

}
/* Modal Styling */
.modal-header {
    background-color: var(--secondary-color);
    color: var(--light-blue-color);;
}
.modal-body {
    background-color: var(--light-blue-color);
    color: var(--dark-font-color);
}
.modal-body input, .modal-body select {
    background-color: rgba(242, 242, 124, 0.622);
}
.modal-footer {
    background-color: var(--secondary-color);
    color: var(--light-blue-color);
}

/* About section */
#about .container {
    background-color: var(--light-blue-color);
    border-radius: 10%;
}


/* Footer */
/* Override Bootstrap styling which was preventing copyright info and social links spacing */
#footer .row > * {
    flex-shrink: 1;
    width: auto;
}
.footer-text {
    color: var(--light-blue-color);
}
.header {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

/* GOOGLE MAP*/
/*#############################################################*/
#map {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    }

/* Shared marker style */
.custom-marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: grey;
  border: 2px solid white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}


/*#############################################################*/


.copyright {
    font-size: small;
}

/* Enable layout styling of social links */
#footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    min-width: 10rem;
}

/* Style social links */
#footer ul a {
    color: var(--light-blue-color);
    font-size: 2rem;
}
